{% load static %}
{% load humanize %}

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Main</div>
            <a class="nav-link" href="{% url 'dashboard-main' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Activity</div>

{% if user.is_authenticated and user.role == 'manager' %}
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Operations
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">Main Office</a>
                    <a class="nav-link" href="{% url 'branch' %}">Branches</a>
                    <a class="nav-link" href="{% url 'product' %}">Product</a>
                    <a class="nav-link" href="layout-sidenav-light.html">Pricing</a>
                </nav>
            </div>
            {% endif %}
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Transaction
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" arial-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <a class="nav-link" href="{% url 'update-inventory' %}">  
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Update Inventory
                </a>
                <a class="nav-link collapse" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth" href="{% url 'dashboard-shift' %}">
                    <div class="sb-nav-link-icon">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    Shifts
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        {% if user.is_authenticated and user.role == 'manager' %}
                        <a class="nav-link" href="{% url 'shift' %}">
                            <div class="sb-nav-link-icon">
                                <i class="fa-regular fa-file"></i>
                            </div>
                            New Shift
                        </a>
                        {% endif %}
                    </nav>
                </div>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'dashboard-shift' %}">
                            <div class="sb-nav-link-icon">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            Shift History
                        </a>
                    </nav>
                </div>

                <a class="nav-link" href="{% url 'dashboard-sale' %}">  
                    <div class="sb-nav-link-icon">
                        <i class="fa-sharp-duotone fa-solid fa-naira-sign"></i>
                    </div>
                    Sales
                </a>
            </div>
            <div class="sb-sidenav-menu-heading">Reports</div>
            <a class="nav-link" href="{ url 'daily' staff_id }">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Daily
            </a>
            <a class="nav-link" href="{ url 'weekly' staff_id }">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Weekly
            </a>
            <a class="nav-link" href="{ url 'monthly' staff_id }">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Monthly
            </a>
            <a class="nav-link" href="{ url 'quarterly' staff_id }">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Quarterly
            </a>
            <a class="nav-link" href="{ url 'yearly' staff_id }">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Yearly
            </a>
            <a class="nav-link" href="{ url 'custom' staff_id }">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Custom
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as: {{ user.staff }}</div>
        {{ user.role }} 
    </div>
</nav> 