{% extends "base_dashboard.html" %} 

{% load static %}


<body>
    {% block content%}

        <div class="row">
            <div class="col-md-4"></div>

        <div class="col-md-4">
                <div class="card mt-5">

                    <div class="card-body">

                        <form action="{% url 'post-sales' %}" method="POST" name = "shift" id="shift"> 
                            <div class="card-title">
                                <h2>Sales Attendant</h2>
                            </div> 
                            {% csrf_token %}
                            
                            {% include "partial/_messages.html" %} 

                            <div class="form-group">
                                <label for ='type'>Type</label>
                                <input 
                                    type = "text"
                                    class = "form-control form-control-md" 
                                    name="type" 
                                    id="type" 
                                    readonly
                                />
                            </div>
                        
                            <div class="form-group">
                                <label for ='start'>Start Time</label>
                                <input
                                    type="datetime-local"
                                    name="start"
                                    id="start"
                                    class="form-control form-control-md"
                                    value="{{ start|date:'Y-m-d H:M' }}"
                                    readonly
                                />
                            </div>

                            <div class="form-group">
                                <label for ='stop'>Stop Time</label>
                                <input
                                    type="datetime-local"
                                    name="stop"
                                    id="stop"
                                    class="form-control form-control-md"
                                    value="{{ start|date:'Y-m-d H:M' }}"
                                    readonly
                                />
                            </div>

                            <div class="form-group">
                                <label for ='branchIDField'>Select Branch</label>
                                <input 
                                    type = "text" 
                                    class = "form-control form-control-md" 
                                    name="branch" 
                                    id="branchIDField"
                                    readonly 
                                />
                            </div>

                            <div class="form-group">
                                <label for ='staff'>Staff</label>
                                <input 
                                    type ="text" 
                                    class = "form-control form-control-md" 
                                    name="staff" 
                                    id="staff"
                                    readonly
                                />
                            </div>

                            <div class="form-group">
                                <label for ='facility'>Storage Tank</label>
                                <input 
                                    type="text" 
                                    class = "form-control form-control-md" 
                                    name="facility" 
                                    id="facility"
                                    readonly
                                />
                            </div>

                            <div class="form-group">
                                <label for ='pump'>Pump</label>
                                <input
                                    type = "text" 
                                    class = "form-control form-control-md" 
                                    name="pump" 
                                    id="pump"
                                    readonly
                                />
                            </div>

                            <div class="form-group">
                                <label for ='product'>Product</label>
                                <input
                                    type="text"
                                    name="product"
                                    id="product"
                                    class="form-control form-control-md"
                                    readonly
                                />
                            </div>                    

                            <div class="form-group">
                                <label for ='stock'>Quantity in Stock</label>
                                <input
                                    type="Number"
                                    name="stock"
                                    id="stock"
                                    class="form-control form-control-md"
                                    readonly
                                />
                            </div>

                            <div class="form-group">
                                <label for ='quantitySold'>Quantity Sold</label>
                                <input
                                type="Number"
                                name="quantitySold"
                                id="quantitySold"
                                class="form-control form-control-md"
                                />
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <p>error message<p>
                            </div>

                            <div class="form-group">
                                <label for ='totalSales'>Total Sales</label>
                                <input
                                type="Number"
                                name="totalSales"
                                id="totalSales"
                                class="form-control form-control-md"
                                readonly
                                />
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <p>error message<p>
                            </div>

                            <input type='submit' value="Post Sales" class="btn btn-block btn-primary btn-primary-lg py-3 submit-btn" />
                        </form> <!-- close form-->
                    </div>
                </div><!-- close card-->
            </div>
        </div>

        <div class="col-md-4">

        </div>

        <script src = "{% static 'js/shift.js' %}">
        </script>

    {% endblock %}
</body>