
{% extends "base.html" %}


{% block content %}


    <h1> Sales History </h1>


    <ul class ="list-group">
        <li class ="list-group-item"> Sales in Day 1 </li>
        <li class ="list-group-item"> Sales in Day 2 </li>    
        <li class ="list-group-item"> Sales in Day 3 </li>    
        <li class ="list-group-item"> Sales in Day 4 </li>
        <li class ="list-group-item"> Sales in Day 5 </li>
        <li class ="list-group-item"> Sales in Day 6 </li>
        <li class ="list-group-item"> Sales in Day 7 </li>
        <li class ="list-group-item"> Sales in Day 8 </li>
    </ul>

{% endblock  %}
