{% extends "base_dashboard.html" %} 
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %} 

<title>{% block title %} Post Sales - {{ user.staff }} {% endblock %} </title>

<body>
    {% block content%}

    <div class="row bg-secondary m-2">
        <div class="col-md-6 mt-2">
            <ul style="color:black;"> Prices - 
                {% for product in products %}
                    <li style="display:inline;">
                        <strong >{{ product.product }}</strong>:<i style="color:rgba(200,55,100,0.7)"><strong>{{ product.price|floatformat:1|intcomma }}</strong></i>; 
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4"></div>
    
        <div class="col md-4">
            <div class="card mt-2">
                <div class="card-body">
                    <form method="POST" action="{% url 'post-sales' shift.id %}" > <!--style = "margin:5% 10%; padding:0px; border:6px solid #ccc; background-color:#f9f9f9;"-->
                            <div class="card-title">
                                <h2>Post Sale</h2>
                            </div>                 
                            {% csrf_token %}

                                <div class="form-group">
                                    <label for ='shift'>Shift</label>
                                    <input
                                    type="text"
                                    name="shift"
                                    id="shift"
                                    class="form-control form-control-md"
                                    value="{{ shift.id }}"
                                    readonly
                                    />
                                </div>

                                <div class="form-group">
                                    <label for ='branch'>Branch</label>
                                    <input
                                    type="text"
                                    name="branch"
                                    id="branch"
                                    class="form-control form-control-md"
                                    value="{{ inventory.branch.branchName }}"
                                    readonly
                                    />
                                </div>
                                
                                <div class="form-group">
                                    <label for ='product'>Product</label>
                                    <input
                                    type="text"
                                    name="product"
                                    id="product"
                                    class="form-control form-control-md"
                                    value="{{ inventory.product.productName }}"
                                    readonly
                                    />
                                </div>

                                <div class="form-group">
                                    <label for ='openingStock'>Opening Stock </label>
                                    <input
                                    type="text"
                                    name="openingStock"
                                    id="openingStock"
                                    class="form-control form-control-md"
                                    value="{{ inventory.quantity }}"
                                    readonly
                                    />
                                </div>

                                <div class="form-group">
                                    <label for ='quantitySold'>Quantity Sold</label>
                                    <input
                                    type="text"
                                    name="quantitySold"
                                    id="quantitySold"
                                    class="form-control form-control-md"
                                    />
                                </div>

                                <div class="form-group">
                                    <label for ='expectedSales'>Expected Sales</label>
                                    <input
                                    type="text"
                                    name="expectedSales"
                                    id="expectedSales"
                                    class="form-control form-control-md"
                                    readonly
                                    />
                                </div>

                                <div class="form-group">
                                    <label for ='actualSales'>Actual Sales</label>
                                    <input
                                    type="text"
                                    name="actualSales"
                                    id="actualSales"
                                    class="form-control form-control-md"
                                    />
                                </div>

                                <div class="form-group">
                                    <label for ='margin'>Margin</label>
                                    <input
                                    type="text"
                                    name="margin"
                                    id="margin"
                                    class="form-control form-control-md"
                                    readonly
                                    />
                                </div>
                                
                                <div class="form-group pt-2 col-md-6 mb-0">
                                <button class="btn btn-outline-success" type='submit' style="width: 200px; height: 50px;">Post Sales</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script src = "{% static 'js/sales.js' %}"></script>

    {% endblock %}

</body>