{% extends "base_dashboard.html" %} 

{% load static %}

<title>{% block title %} Shift Roster  {% endblock%} </title>

<body>
    {% block content%}

        <div class="row">
            <div class="col-md-4"></div>

                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="h2">Shift History</h2>
                        </div> 
                    </div>
<hr>
                        <table class = "table-danger">
                            <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                            <thead>
                                <tr>
                                    <th>Session</th>
                                    <th>Shift #</th>
                                    <th>Branch </th>
                                    <th>Product </th>
                                    <th>Quantity Sold</th>
                                    <th>Actual Sales (N)</th>
                                    <th>Expected Sales (N)</th>
                                    <th>Margin</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            {% csrf_token %}
                            
                            {% include "partial/_messages.html" %} 
                            
                            <tbody>
                                {% for sale in sales%}

                                    <tr>
                                        <td>{{ sale.id }} </td>
                                        <td> {{ sale.shift }} </td>
                                        <td> {{ sale.shift.inventory.branch }} </td>
                                        <td> {{ sale.shift.inventory.product }} </td>
                                        <td> {{ sale.quantity_sold }} </td>
                                        <td> {{ sale.actual_sales }} </td>
                                        <td> {{ sale.expected_sale }} </td>
                                        <td> {{ sale.margin }} </td>
                                        {% if sale.reconcile %}
                                            <td> On going </td>
                                        {% else%}
                                            <td> ended </td>
                                        {% endif%}                                        
                                 {% endfor %} 
                            </tbody>
                        </table>                
        </div>
    {% endblock %}
</body>