{% extends "base.html" %} 

{% load static %}

<title>{% block title %} Shift Roster  {% endblock%} </title>

<body>
    {% block content%}

        <div class="row">
            <div class="col-md-4"></div>

                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="h2">Shift Management</h2>
                        </div> 
                    </div>
<hr>
                        <table class = "table-danger">
                            <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                            <thead>
                                <tr>
                                    <th>Shift #</th>
                                    <th>Session</th>
                                    <th>Start Time</th>
                                    <th>Stop Time</th>
                                    <th>Branch</th>
                                    <th>Pump Attendant</th>
                                    <th>Pump #</th>
                                    <th>Product </th>
                                    <th>Quantity in Stock </th>
                                    <th>Quantity Sold</th>
                                    <th>Total Sales</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            {% csrf_token %}
                            
                            {% include "partial/_messages.html" %} 
                            
                            <tbody>
                                {% for shift in shifts%}

                                    <tr>
                                        <td>{{ shift.id }} </td>
                                        <td> {{ shift.type }} </td>
                                        <td> {{ shift.start }} </td>
                                        <td> {{ shift.end }} </td>
                                        <td> {{ shift.branch }} </td>
                                        <td> {{ shift.staff }} </td>
                                        <td> {{ shift.pump }} </td>
                                        <td> {{ shift.product }} </td>
                                        <td> {{ shift.stock }} </td>
                                        <td> {{ shift.quantity_sold }} </td>
                                        <td> {{ shift.total_sales }} </td>
                                        {% if shift.is_active%}
                                            <td> On going </td>
                                        {% else%}
                                            <td> Pending </td>
                                        {% endif%}
                                        <td> <a href = "{% url 'edit_shift' %}">Edit</a>
                                {% endfor %} 
                            </tbody>
                        </table>
                    <!--  <form action="{% url 'shift_management' %}" method="POST" name = "shift" id="shift"> 

                        <input type='submit' value="Post Sales" class="btn btn-block btn-primary btn-primary-lg py-3 submit-btn" />
                    </form>close form-->                    
        </div>
    {% endblock %}
</body>