{% extends "base_dashboard.html" %} 

{% load static %}

<title>{% block title %} The Shift Roster  {% endblock%} </title>

<body>
    {% block content%}

        <div class="row">
            <div class="col-md-4"></div>

                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="h2">Shift History</h2>
                        </div> 
                    </div>
                    {% include "partial/_messages.html" %} 
                    <hr>
                        <table class = "table-danger">
                            <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                            <thead>
                                <tr>
                                    <th>Shift #</th>
                                    <th>Session</th>
                                    <th>Start Time</th>
                                    <th>Stop Time</th>
                                    <th>Pump #</th>
                                    <th>Product </th>
                                    <th>Quantity in Stock </th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            
                            
                            <tbody>
                                {% for shift in shifts %}

                                    <tr>
                                        <td>{{ shift.id }} </td>
                                        <td> {{ shift.type }} </td>
                                        <td> {{ shift.start }} </td>
                                        <td> {{ shift.end }} </td>
                                        <td> {{ shift.pump }} </td>
                                        <td> {{ shift.product }} </td>
                                        <td> {{ shift.stock }} </td>
                                        <td> {{ shift.status }} </td>
                                        <td> <a class='btn btn-outline-success btn-sm' href = "{% url 'post-sales' shift.id %}">Post Sales</a>
                                 {% endfor %} 
                            </tbody>
                        </table>
                 
        </div>
    {% endblock %}
</body>