{% extends "base_dashboard.html" %} {% load static %} {% load humanize %} 
{% block title %} {{user.staff }} - Dashboard {% endblock %}
{% block content %}
<div class="row">
  <div class="col-xl-x6">
    <h4>{{ branch }}, {{ branch.branchAddress }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body">Stock</div>
      <div
        class="card-footer d-flex align-items-center justify-content-between"
      >
        <a class="small text-white stretched-link" href="#">
          {% for s in stock %}
          <h5 style="text-align: justify">
            {{ s.product_name }} {{ s.quantity|floatformat:1|intcomma }}
            liters
          </h5>
          {% endfor %}
        </a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-body">Quantity Sold (Liters)</div>
      <div
        class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="#">
          {% for s in q_sold %}
          <h5 style="text-align: justify">
            {{ s.product_name }} {{ s.quantity|floatformat:1|intcomma }}
            liters
          </h5>
          {% endfor %}
        </a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card bg-success text-white mb-4">
      <div class="card-body">Total Sales (Naira)</div>
      <div
        class="card-footer d-flex align-items-center justify-content-between"
      >
        <a class="small text-white stretched-link" href="#">
          {% for v in v_sold %}
          <h5 style="text-align: justify">
            {{ v.product_name }} {{ v.value|floatformat:1|intcomma }}
          </h5>
          {% endfor %}
        </a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="card bg-dark text-white mb-4">
      <div class="card-body">Highest Sales (Naira)</div>
      <div
        class="card-footer d-flex align-items-center justify-content-between"
      >
        <a class="small text-white stretched-link" href="#">
          {% for m in max_sales %}
          <h5 style="text-align: justify">
            {{ m.value|floatformat:1|intcomma }}</h5>
           <span> {{ m.date|date:'d M Y' }} </span>
          {% endfor %}
        </a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
</div>
<!-- End of first row -->

<div class="row">
  <div class="col-xl-4">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Stock by Product
      </div>
      <div class="card-body">
        {{ fig_stock|safe }}
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Sales by Products
      </div>
      <div class="card-body">
        {{ fig_sales|safe }}          
      </div>
    </div>
  </div>
  
  <div class="col-xl-4">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Sales Overtime by Products
      </div>
      {{ fig_line|safe }}
      <div class="card-body">
      </div>
    </div>
  </div>
  

  
</div>
<!-- End of second row -->

  <div class ='row'>

    <div class="row">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          <h3>  Status of Stock </h3>
        </div>
        <div class="card-body"></div>
        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
          <div class="datatable-top">
            <div class="datatable-dropdown">
              <label>
                <select class="datatable-selector">
                  <option value="5">5</option>
                  <option value="10" selected="">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                </select>
                entries per page
              </label>
            </div>
            <div class="datatable-search">
              <input
              class="datatable-input"
              placeholder="Search..."
              type="search"
              title="Search within table"
              aria-controls="datatablesSimple"
              />
            </div>
          </div>
          <div class="datatable-container">
            <table id="datatablesSimple" class="table-primary">
              <thead>
                <tr>
                  <th data-sortable="true" style="width: 9.74025974025974%">
                    <a href="#" class="datatable-sorter">Tank</a>
                  </th>
                  <th data-sortable="true" style="width: 10.1948051948052%">
                    <a href="#" class="datatable-sorter">Product</a>
                  </th>
                  <th data-sortable="true" style="width: 10.61038961038961%">
                    <a href="#" class="datatable-sorter">Quantity (liters)</a>
                  </th>
                  <th data-sortable="true" style="width: 8.506493506493506%">
                    <a href="#" class="datatable-sorter">Last Update</a>
                  </th>
                  <th data-sortable="true" style="width: 14.415584415584416%">
                    <a href="#" class="datatable-sorter">Updated by</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for i in inventories %}
                <tr data-index="0">
                  <td> {{ i.storage.storageDesc }} </td>
                  <td> {{ i.product.productName }} </td>
                  <td> {{ i.quantity|floatformat:1|intcomma }} </td>
                  <td> {{ i.dateUpdated|date:'d M Y' }} </td>
                  <td> {{ i.updatedBy }} </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="datatable-bottom">
            <div class="datatable-info">Showing 1 to {% if inventory_count > 10 %} 10 {% else %} {{ inventory_count }} of {{ inventory_count }} entries entries {% endif %}</div>
            <nav class="datatable-pagination">
              <ul class="datatable-pagination-list">
                <li
                  class="datatable-pagination-list-item datatable-hidden datatable-disabled"
                  >
                  <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
                </li>
                <li class="datatable-pagination-list-item datatable-active">
                  <a data-page="1" class="datatable-pagination-list-item-link">1</a>
                </li>
                <li class="datatable-pagination-list-item">
                  <a data-page="2" class="datatable-pagination-list-item-link">2</a>
                </li>
                <li class="datatable-pagination-list-item">
                  <a data-page="3" class="datatable-pagination-list-item-link">3</a>
                </li>
                <li class="datatable-pagination-list-item">
                  <a data-page="4" class="datatable-pagination-list-item-link">4</a>
                </li>
                <li class="datatable-pagination-list-item">
                  <a data-page="5" class="datatable-pagination-list-item-link">5</a>
                </li>
                <li class="datatable-pagination-list-item">
                  <a data-page="6" class="datatable-pagination-list-item-link">6</a>
                </li>
                <li class="datatable-pagination-list-item">
                  <a data-page="2" class="datatable-pagination-list-item-link">›</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        

        
      </div>
    </div>
    
    <div class="row">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          <h3>  Sales Records </h3>
        </div>
        <div class="card-body"></div>
        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
          <div class="datatable-top">
            <div class="datatable-dropdown">
              <label>
                <select class="datatable-selector">
                  <option value="5">5</option>
                <option value="10" selected="">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
              entries per page
            </label>
          </div>
          <div class="datatable-search">
            <input
            class="datatable-input"
            placeholder="Search..."
            type="search"
            title="Search within table"
            aria-controls="datatablesSimple"
            />
          </div>
        </div>
        <div class="datatable-container">
          <table id="datatablesSimple" class="table-primary">
            <thead>
              <tr>
                <th data-sortable="true" style="width: 9.74025974025974%">
                  <a href="#" class="datatable-sorter">Sales Date</a>
                </th>
                <th data-sortable="true" style="width: 19.74025974025974%">
                  <a href="#" class="datatable-sorter">Sales Agent (Pump Attendant)</a>
                </th>
                <th data-sortable="true" style="width: 30.1948051948052%">
                  <a href="#" class="datatable-sorter">Tank</a>
                </th>
                <th data-sortable="true" style="width: 14.61038961038961%">
                  <a href="#" class="datatable-sorter">Product</a>
                </th>
                <th data-sortable="true" style="width: 8.506493506493506%">
                  <a href="#" class="datatable-sorter">Quantity (liters)</a>
                </th>
                <th data-sortable="true" style="width: 14.415584415584416%">
                  <a href="#" class="datatable-sorter">Sales (Actual)</a>
                </th>
                <th data-sortable="true" style="width: 14.415584415584416%">
                  <a href="#" class="datatable-sorter">Margin</a>
                </th>
                <th data-sortable="true" style="width: 14.415584415584416%">
                  <a href="#" class="datatable-sorter">Reconciliation</a>
                </th>

              </tr>
            </thead>
            <tbody>
              {% for s in sales %}
              <tr data-index="0">
                <td> {{ s.shift.end|date:'d M Y' }}
                  <td> {{ s.shift.staff }} </td>
                  <td> {{ s.shift.inventory.storage.storageDesc }} </td>
                  <td> {{ s.shift.inventory.product.productName }} </td>
                  <td> {{ s.quantity_sold|floatformat:1|intcomma }} </td>
                  <td> {{ s.actual_sales|floatformat:1|intcomma }} </td>
                  <td> {{ s.margin|floatformat:1|intcomma }} </td>
                  <td> {{ s.reconciliation }}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="datatable-bottom">
          <div class="datatable-info">Showing 1 to {% if sales_count > 10 %} 10 {% else %} {{ sales_count }} of {{ sales_count }} entries {% endif %}</div>
          <nav class="datatable-pagination">
            <ul class="datatable-pagination-list">
              <li
                class="datatable-pagination-list-item datatable-hidden datatable-disabled"
                >
                <a data-page="1" class="datatable-pagination-list-item-link">‹</a>
              </li>
              <li class="datatable-pagination-list-item datatable-active">
                <a data-page="1" class="datatable-pagination-list-item-link">1</a>
              </li>
              <li class="datatable-pagination-list-item">
                <a data-page="2" class="datatable-pagination-list-item-link">2</a>
              </li>
              <li class="datatable-pagination-list-item">
                <a data-page="3" class="datatable-pagination-list-item-link">3</a>
              </li>
              <li class="datatable-pagination-list-item">
                <a data-page="4" class="datatable-pagination-list-item-link">4</a>
              </li>
              <li class="datatable-pagination-list-item">
                <a data-page="5" class="datatable-pagination-list-item-link">5</a>
              </li>
              <li class="datatable-pagination-list-item">
                <a data-page="6" class="datatable-pagination-list-item-link">6</a>
              </li>
              <li class="datatable-pagination-list-item">
                <a data-page="2" class="datatable-pagination-list-item-link">›</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>      
    </div>
  </div>

<script src="{% static 'js/manager_chart.js' %}"></script>
{% endblock %}
