{% extends "base_dashboard.html" %} 

{% load static %}

<title>{% block title %} {{ user.staff }} - Shift History  {% endblock %} </title>

<body>
    {% block content%}

        <div class="row">
            <div class="col-md-4"></div>

                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="h2">Shift Management</h2>
                        </div> 
                    </div>
<hr>
                        <table class = "data-table">
                            <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                            <thead>
                                <tr>
                                    <th>Shift #</th>
                                    <th>Session</th>
                                    <th>Start Time</th>
                                    <th>Stop Time</th>
                                    <th>Staff </th>
                                    <th>Pump #</th>
                                    <th>Product </th>
                                    <th>Quantity in Stock </th>
                                    <th>Status</th>
                                    <th colspan="2" style ="text-align:center;">Action</th>
                                </tr>
                            </thead>

                            {% csrf_token %}
                            
                            {% include "partial/_messages.html" %} 
                            
                            <tbody>
                                {% for shift in shifts %}

                                    <tr>
                                        <td> {{ shift.id }} </td>
                                        <td> {{ shift.type }} </td>
                                        <td> {{ shift.start }} </td>
                                        <td> {{ shift.end }} </td>
                                        <td> {{ shift.staff }} </td>
                                        <td> {{ shift.pump }} </td>
                                        <td> {{ shift.inventory.product }} </td>
                                        <td> {{ shift.inventory.quantity }} </td>
                                        <td> {{ shift.status }} </td>
                                        {% if shift.status == "Pending" %}
                                        <td> <a class='btn btn-outline-primary btn-sm' href = "{% url 'shift-edit' shift.id %}">Edit Shift</a>
                                        {% else %}
                                        <td> <a class='btn btn-outline-secondary btn-sm' href = "#">Shift Ended</a>
                                        {% endif %}                                        
                                 {% endfor %} 
                            </tbody>
                        </table>                
        </div>
    {% endblock %}
</body>