{% extends "base_auth.html" %} 

{% load static %}


{% block content%}

<div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">

                <div class="card-title py-2">
                    <h4>Set New Password</h4>
                </div> 

                <form action="{% url 'register_cls' %}" method="post"> 
                    
                    {% csrf_token %}
                    
                    {% include "partial/_messages.html" %}               
 
                    <div class="form-group">
                        <input
                        type="password"
                        name="newpassword"
                        id="newPpasswordField"
                        class="form-control form-control-md"
                        placeholder="New Password"
                        />
                        <small class="float-right py-3 showPasswordToggle">SHOW</small>
                    </div>
                    
                    <div class="form-group">
                        <input
                        type="password"
                        name="confirmpassword"
                        id="confirmPasswordField"
                        class="form-control form-control-md"
                        placeholder="Confirm Password"
                        />
                    </div>

                    <input type='submit' value="Log in" class="btn btn-block btn-primary py-3 submit-btn" />
                </form> <!-- close form-->
            </div>
        </div><!-- close card-->
    </div>

    <div class="col-md-4">

    </div>
  
</div>

<script src="{% static 'js/register.js' %}">

</script>

{% endblock %}
