{% extends "base_dashboard.html" %} 

{% load static %}


<body>
    {% block content %}

        <div class="row">
            <div class="col-md-4"></div>

                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="h2">Shift History</h2>
                        </div> 
                    </div>
            <hr>
            <table class = "datatable-table">
                <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                <thead>
                    <tr>
                        <th>Shift #</th>
                        <th>Session</th>
                        <th>Start Time</th>
                        <th>Stop Time</th>
                        <th>Staff </th>
                        <th>Branch</th>
                        <th>Pump #</th>
                        <th>Product </th>
                        <th>Quantity in Stock </th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                {% csrf_token %}
                
                {% include "partial/_messages.html" %} 
                
                <tbody>
                    {% for shift in shifts%}

                        <tr>
                            <td>{{ shift.id }} </td>
                            <td> {{ shift.type }} </td>
                            <td> {{ shift.start }} </td>
                            <td> {{ shift.end }} </td>
                            <td> {{ shift.staff }}
                            <td> {{ shift.inventory.branch }} </td>
                            <td> {{ shift.pump }} </td>
                            <td> {{ shift.inventory.product }} </td>
                            <td> {{ shift.inventory.quantity }} </td>
                            <td> {{ shift.status }} </td>
                            <td> <a class='btn btn-outline-success btn-sm' href = "{% url 'shift-edit' shift.id %}">Edit Shift</a>
                     {% endfor %} 
                </tbody>
            </table>
                
        </div>

    {% endblock %}
</body>