{% extends "base_dashboard.html" %} 

{% load static %}

<title> {% block title %} {{ user.staff }} Sales History {% endblock %}</title>

<body>
    {% block content %}

        <div class="row">
            <div class="col-md-4"></div>

                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="h2">Sales History</h2>
                        </div> 
                    </div>
        <hr>
                    <table class = "table-danger">
                        <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Staff</th>
                                <th>Product</th>
                                <th>Quantity Sold</th>
                                <th>Expected Sales </th>
                                <th>Actual Sales </th>
                                <th>Margin</th>
                                <th>Status</th>
                                <th>Remark</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        {% csrf_token %}
                        
                        {% include "partial/_messages.html" %} 
                        
                        <tbody>
                            {% for sale in sales %}

                                <tr>
                                    <td> {{ sale.shift.end|date:'d M Y' }} </td>
                                    <td> {{ sale.shift.staff }}
                                    <td> {{ sale.shift.inventory.product }} </td>
                                    <td> {{ sale.quantity_sold }} </td>
                                    <td> {{ sale.expected_sales }} </td>
                                    <td> {{ sale.actual_sales }} </td>
                                    <td> {{ sale.margin }} </td>
                                    <td> {{ sale.remark }} </td>
                                    {% if sale.margin >= 0 %}
                                        <td> reconciled </td>
                                        <td> <div class='info btn-sm' href = "">No Action</div>
                                    {% else %}
                                        <td> pending </td>
                                        <td> <a class='btn btn-success btn-sm' href = "{% url 'reconcile-sale' sale.id %}">Reconcile</a>
                                    {% endif %}
                                </tr>

                            {% endfor %} 
                        </tbody>
                    </table>
             
        </div>

    {% endblock %}
</body>