{% extends "base.html" %} 

{% load static %}


<body>
    {% block content%}

    <div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">
            <div class="card mt-5">

                <div class="card-body">

                    <div class="card-title py-2">
                        <h4>Update Inventory</h4>
                    </div> 

                    <form name="inventoryForm" id="inventoryForm" method="post" action="{% url 'update' %}" >
                        
                        {% csrf_token %}
                        
                        {% include "partial/_messages.html" %} 

                        <div class="form-group">
                            <label for = "branch">Select Branch</label>
                            <select class = "form-control form-control-md" name="branch" id="branchIDField">
                                <option value="" disabled selected> Select Branch</option>
                                {% for branch in branches %}
                                    <option name = "branch" value="{{ branch.id }}">{{ branch.id }} - {{ branch.branchName}}</option>
                                {% endfor %}
                            </select><br>
                        </div>

                        <div class="form-group">
                            <label for = "facility">Select Storage Facility</label>
                            <select class = "form-control form-control-md" name="facility" id="facilityIDField">
                                <option value="" disabled selected> Select Storage Facility</option>
                                <!-- populated base on the branch selected-->
                            </select><br>
                        </div>

                        <div class="form-group">
                            <label for = "product">Product</label>
                            <input
                            type = "text"
                            name = "product"
                            id = "productIDField"
                            class = "form-control from-control-md"
                            placeholder = "Product"
                            readonly
                            /><br>
                        </div>                                     

                        <div class="form-group">
                            <label for = "quantityinStock">Quantity in Stock</label>
                            <input
                            type="number"
                            name="quantityinStock"
                            id="quantityinStock"
                            readonly
                            class="form-control form-control-md"
                            /><br>
                        </div>

                        <div class="form-group">
                            <label for = "quanitySupplied">Quantity Supplied</label>
                            <input
                            type="number"
                            name="quanitySupplied"
                            id="quantityField"
                            class="form-control form-control-md"
                            placeholder="Enter quanityt of product supplied"
                            /><br>
                        </div>

                        <div class="form-group">
                            <label for = "dateSupplied">Date Supplied</label>
                            <input
                            type="date"
                            name="dateSupplied"
                            id="dateSupplied"
                            class="form-control form-control-md"
                            /><br>
                        </div>

                        <input type='submit' value="Update Inventory" class="btn btn-block btn-primary py-3 submit-btn" />
                    </form> <!-- close form-->
                </div>
            </div><!-- close card-->
        </div>

        <div class="col-md-4">

        </div>
    
    </div>

    <script src = "{% static 'js/inventory.js' %}">
    </script>

    {% endblock %}
</body>
