{% extends "base_dashboard.html" %} 

{% load static %}


{% block content%}

<div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">

                <div class="card-title py-2">
                    <h4>Register a Pump</h4>
                </div> 

                <form action="{% url 'pump' %}" method="post"> 
                    
                    {% csrf_token %}
                    
                    {% include "partial/_messages.html" %} 

                    <div class="form-group">
                        <label for = "branchid">Branch</label>
                        <select class = "form-control form-control-md" name="branch" id="branchIDField">
                            <option value="" disabled selected> Select Branch </option>
                            {% for branch in branches %}
                                <option name = "branch" value="{{ branch.id }}">{{branch.id}} - {{ branch.branchName}}</option>
                            {% endfor %}
                        </select><br>
                    </div>   
                    
                    <div class="form-group">
                        <label for = "facilityid">Storage Facility</label>
                        <select class = "form-control form-control-md" name="facility" id="facilityIDField">
                            <option value="" disabled selected> Select Storage Facility</option>
                        </select><br>
                    </div>   

                    <div class="form-group">
                        <label for = "pumpDescription">Enter Pump No</label>
                        <input
                        type="text"
                        name="pumpDescription"
                        id="pumpDescriptionField"
                        class="form-control form-control-md"
                        placeholder="Enter Pump Description"
                        />
                    </div>
                                     
                    <input type='submit' value="Submit" class="btn btn-block btn-primary py-3 submit-btn form-control-lg" />
                </form> <!-- close form-->
            </div>
        </div><!-- close card-->
    </div>

    <div class="col-md-4">

    </div>
  
</div>

<script src="{% static 'js/pump.js' %}">

</script>

{% endblock %}
